body {
    margin: 0;
    padding: 0;
    background-color:#3c3f41;
    color:#fff;
}
.ide-font {
    color: #afb1b3;
}
.std-text{
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    border: none;
}
.std-text:focus{
    padding: 0 15px 0 15px !important;
    color: #afb1b3 !important;
    border: none !important;
    outline: none !important;
}
.ide-font:hover{
    color: #afb1b3;
}
.nav-link.active{
    border-bottom: solid 4px #747a80;
}
.nav{
    background-color: #323232;
}
body p {
    padding:20px;
}
#leftPane {
    border: solid 2px #323232;
    width: 30%;
    height: 100%;
    background-color: #2b2b2b;
}
#topPane {
    border: solid 2px #323232;
    width: 100%;
    height: 70%;
}
#bottomPane {
    border: solid 2px #323232;
    background-color: #2b2b2b;
    height: 100%;
    width: 100%;
}
.dropdown-item:active{
    background-color: #eeeeee;
}
.CodeMirror{
    height: 100%;
}
.ide-btn{
    background-color: transparent;
}
.ide-btn:focus{
    border: none !important;
    outline: none !important;
}
.user-element{
    margin-bottom: -35px;
}
.user-element.active video{
    border: solid 4px lightgreen;
}
.user-element video {
    width: 100%;
}
.user-element p {
    display: inline;
    position: relative;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    top: -42px;
    color: white;
}