{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block breadcam %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/darcula.css' %}">
    <link rel="stylesheet" href="{% static 'css/meeting_detail.css' %}">
{% endblock %}
{% block content %}
    <div id="workspace">
        <div id="leftPane">
            <video autoplay muted class="local-video" id="local-video1" style="width: 100%"></video>
            <video autoplay muted class="local-video" id="local-video2" style="width: 100%"></video>
            <video autoplay muted class="local-video" id="local-video3" style="width: 100%"></video>
            <video autoplay muted class="local-video" id="local-video4" style="width: 100%"></video>
            <video autoplay muted class="local-video" id="local-video5" style="width: 100%"></video>
        </div>
        <div id="rightPane">
            <div id="topPane">
                <textarea id="code-editor">
print('hello python!!')
                </textarea>
            </div>
            <div id="bottomPane">
                <ul class="nav mb-3" role="tablist" style="margin-bottom: 0; padding-top: 10px">
                    <li class="nav-item">
                        <button id="runBtn" class="btn ide-btn"><i class="fa fa-play" style="font-size: 25px;color: #499c54;"></i></button>
                    </li>
                    <li class="nav-item">
                        <button id="stopBtn" class="btn ide-btn"><i class="fa fa-stop" style="font-size: 25px;color: #c75450;margin-right: 30px"></i></button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active ide-font" id="input-tab" data-toggle="pill" href="#input-area" role="tab" aria-controls="input-area" aria-selected="true">Input</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ide-font" id="output-tab" data-toggle="pill" href="#output-area" role="tab" aria-controls="output-area" aria-selected="false">Output</a>
                    </li>
                    <li class="nav-item dropdown float-right">
                        <a id="languageDropdown" class="nav-link dropdown-toggle ide-font" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Python</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item set-lang" name="python" href="#">Python</a>
                            <a class="dropdown-item set-lang" name="java" href="#">Java</a>
                            <a class="dropdown-item set-lang" name="c" href="#">C</a>
                        </div>
                    </li>
                </ul>
                <div class="tab-content" style="height: 100%">
                    <div class="tab-pane fade show active" id="input-area" role="tabpanel" aria-labelledby="input-tab" style="height: 100%">
                        <textarea class="std-text" id="stdIn">

                        </textarea>
                    </div>
                    <div class="tab-pane fade" id="output-area" role="tabpanel" aria-labelledby="output-tab" style="height: 100%">
                        <textarea class="std-text" readonly id="stdOut">

                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/clike.js' %}"></script>
    <script src="{% static 'codemirror/python.js' %}"></script>
    <script src="{% static 'splitter/jquery.splitter.js' %}"></script>
    <script src="{% static 'js/meeting_detail.js' %}"></script>
    <script>
        // =============================================================================================================
        language = 'Python';
        chatSocket = null;

        function setLanguage(lang) {
            $('#languageDropdown').html(LANG_MAP[lang].name);
            editor.setOption('mode', LANG_MAP[lang].mode);
            editor.getDoc().setValue(LANG_MAP[lang].template);
        }
        function setLanguage(lan, flag){
            language = lan;
            $('#languageDropdown').html(lan);
            var template = '';
            if(lan === 'Python'){
                template = `print('hello python!!')`;
                editor.setOption('mode', 'python');
            } else if (lan === 'Java') {
                template = `public class Main {
    public static void main(String[] args) {
        System.out.println("Hello java!!");
    }
}
                `;
                editor.setOption('mode', 'text/x-java');
            } else {
                template = `#include<stdio.h>

void main(){
    printf("hello C!!");
}
                `;
                editor.setOption('mode', 'text/x-csrc');
            }
            if(!flag){
                chatSocket.send(JSON.stringify({
                    'message': lan
                }));
            }

            editor.getDoc().setValue(template);
        }
        $( document ).ready(function() {
            $('#runBtn').click(function () {

                $.ajax({
                    url: "{% url 'code:run' %}",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        language: language,
                        code: editor.getDoc().getValue(),
                        std_in: $('.std-text').val()
                    },
                    success: function (data) {
                        alert('실행완료 되었습니다.');
                        if(data.is_error === "True"){
                            $('#stdOut').val(data.err_out);
                        } else{
                            $('#stdOut').val(data.std_out || data.err_out);
                        }
                        $('#output-tab').click();
                    },
                    error: function (data) {
                        alert('에러가 발생했습니다.');
                    }
                });
            });
            $('#stopBtn').click(function () {

            });

            // =========================================================================================================
            $('.set-lang').click(function (e) {
                setLanguage(e.target.innerHTML);
            })
            // =========================================================================================================
            $("#workspace").splitter({
                "orientation": "horizontal",
                "limit": 10
            });
            $("#editorPane").splitter({
                "orientation": "horizontal",
                "limit": 100
            });
            $("#rightPane").splitter({
                "orientation": "vertical",
                "limit": 100
            });
            // =========================================================================================================
            chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + {{object.id}}
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const doc = editor.getDoc();
                var pos = editor.getDoc().getCursor();
                if(data.lang){
                    setLanguage(data.lang, true)
                } else {
                    doc.setValue(data.message);
                    doc.setCursor(pos);
                }
            };

            chatSocket.onclose = function(e) {
                alert('오류가 발생했습니다.');
                location.href = "{% url 'meeting:list' %}";
            };

            // =========================================================================================================
            navigator.getUserMedia(
                { video: true, audio: true },
                stream => {
                    const localVideo = document.getElementById("local-video1");
                    if (localVideo) {
                        localVideo.srcObject = stream;
                    }
                },
                error => {
                    console.warn(error.message);
                }
            );
            // =========================================================================================================
            editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
                mode: "python",
                theme: "darcula",
                styleActiveLine: true,
                lineNumbers: true,
                lineWrapping: true
            });
            editor.on('keyup', function (e) {
                chatSocket.send(JSON.stringify({
                    'message': editor.getDoc().getValue()
                }));
            });
        });
    </script>
{% endblock %}
{% block footer %}{% endblock %}