{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block breadcam %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/darcula.css' %}">
    <link rel="stylesheet" href="{% static 'css/meeting_detail.css' %}">
{% endblock %}
{% block content %}
    <div id="workspace">
        <div id="leftPane">
        </div>
        <div id="rightPane">
            <div id="topPane">
                <textarea id="code-editor">
print('hello python!')
                </textarea>
            </div>
            <div id="bottomPane">
                <ul class="nav mb-3" role="tablist" style="margin-bottom: 0; padding-top: 10px">
                    <li class="nav-item">
                        <button id="runBtn" class="btn ide-btn"><i class="fa fa-play" style="font-size: 25px;color: #499c54;"></i></button>
                    </li>
                    <li class="nav-item">
                        <button id="stopBtn" class="btn ide-btn"><i class="fa fa-stop" style="font-size: 25px;color: #c75450;margin-right: 30px"></i></button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active ide-font" id="input-tab" data-toggle="pill" href="#input-area" role="tab" aria-controls="input-area" aria-selected="true">Input</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ide-font" id="output-tab" data-toggle="pill" href="#output-area" role="tab" aria-controls="output-area" aria-selected="false">Output</a>
                    </li>
                    <li class="nav-item dropdown float-right">
                        <a id="languageDropdown" class="nav-link dropdown-toggle ide-font" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Python</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item set-lang" name="python">Python</a>
                            <a class="dropdown-item set-lang" name="java">Java</a>
                            <a class="dropdown-item set-lang" name="c">C</a>
                        </div>
                    </li>
                </ul>
                <div class="tab-content" style="height: 100%">
                    <div class="tab-pane fade show active" id="input-area" role="tabpanel" aria-labelledby="input-tab" style="height: 100%">
                        <textarea class="std-text" id="stdIn">

                        </textarea>
                    </div>
                    <div class="tab-pane fade" id="output-area" role="tabpanel" aria-labelledby="output-tab" style="height: 100%">
                        <textarea class="std-text" readonly id="stdOut">

                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/clike.js' %}"></script>
    <script src="{% static 'codemirror/python.js' %}"></script>
    <script src="{% static 'splitter/jquery.splitter.js' %}"></script>
    <script src="{% static 'js/meeting_detail.js' %}"></script>
    <script>
        store = {
            me: '{{ user.username }}',
            is_admin: {{ relation.is_admin_template }},
            language: 'python',
            current_language: 'python',
            current_user: '{{ user.username }}',
            current_user_code: {
                'python': PYTHON_TEMPLATE,
                'java': JAVA_TEMPLATE,
                'c': C_TEMPLATE,
            },
            current_user_language: 'python',
            code: {
                'python': PYTHON_TEMPLATE,
                'java': JAVA_TEMPLATE,
                'c': C_TEMPLATE,
            },
            chatSocket: null,
            editor: null,
            localStream: null,
            users: {
                '{{ user.username }}': {
                    username: '{{ user.username }}',
                    element: null
                }

            }
        };

        function setLanguage(language, template=false) {
            $('#languageDropdown').html(LANG_MAP[language].name);
            store.editor.setOption('mode', LANG_MAP[language].mode);
            if(template){
                if(store.current_user === store.me){
                    store.language = language
                    store.editor.getDoc().setValue(store.code[language]);
                } else {
                    store.editor.getDoc().setValue(store.current_user_code[language]);
                }
            }
            store.current_language = language;
        }
        function setListeners(){
            $('#runBtn').click(function () {
                $.ajax({
                    url: "{% url 'code:run' %}",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        language: store.current_language,
                        code: store.editor.getDoc().getValue(),
                        std_in: $('.std-text').val()
                    },
                    success: function (data) {
                        alert('실행완료 되었습니다.');
                        if(data.is_error === "True"){
                            $('#stdOut').val(data.err_out);
                        } else{
                            $('#stdOut').val(data.std_out || data.err_out);
                        }
                        $('#output-tab').click();
                    },
                    error: function (data) {
                        alert('에러가 발생했습니다.');
                    }
                });
            });

            $('.set-lang').click(function (e) {
                setLanguage(e.target.name, true);
                const code = store.editor.getDoc().getValue();
                if(store.me === store.current_user){
                    store.code[store.current_language] = code
                }
                store.current_user_code[store.current_language] = code;
                store.chatSocket.send(JSON.stringify({
                    'action': CHANGE_CODE,
                    'code': store.current_user_code,
                    'language': store.current_language,
                    'current_user': store.current_user
                }));

            })

            $("#workspace").splitter({
                "orientation": "horizontal",
                "limit": 10
            });
            $("#editorPane").splitter({
                "orientation": "horizontal",
                "limit": 100
            });
            $("#rightPane").splitter({
                "orientation": "vertical",
                "limit": 100
            });
            {% if relation.is_admin %}
            $('body').on('click', '.user-element', function() {
                store.current_user = this.id;
                store.chatSocket.send(JSON.stringify({
                    action: GET_CODE,
                    current_user: store.current_user
                }));
                $('.user-element').removeClass('active');
                $(this).addClass('active');
            });
            {% endif %}
        }
        function addUserElement(username, is_admin=false, active=false) {
            const $newElement = $($.parseHTML('<div class="user-element" id="myElement"><video autoplay muted></video><img src="{% static 'img/crown.png' %}"><p></p></div>'));
            $newElement.attr('id', username);
            $newElement.children('p').html(username);
            store.users[username].element = $newElement;
            $('#leftPane').append($newElement);
            if(active){
                $newElement.addClass('active');
            }
            if(is_admin){
                $newElement.addClass('admin');
            }
            return $newElement.children('video')[0];
        }
        function sendSocket(type, payload={}){
            store.chatSocket.send(JSON.stringify({
                'type': type,
                'payload': payload
            }));
        }
        async function callUser(data) {
            if(store.me !== data.username){
                const connection = new RTCPeerConnection(WEB_RTC_CONF);
                store.users[data.username] = {
                    connection: connection
                };
                connection.onicecandidate = event => {
                    if (event.candidate) {
                        store.chatSocket.send(JSON.stringify({
                            action: CHANGE_CANDIDATE,
                            to: data.username,
                            candidate: event.candidate
                        }));
                    }
                }
                const videoElement = addUserElement(data.username, data.is_admin);
                connection.ontrack = function({ streams: [stream] }) {
                    videoElement.srcObject = stream;
                };
                await navigator.getUserMedia(
                    USER_MEDIA_CONF,
                    async stream => {
                        store.localStream = stream;
                        stream.getTracks().forEach(track => connection.addTrack(track, stream));
                        const offer = await connection.createOffer();
                        await connection.setLocalDescription(new RTCSessionDescription(offer));
                        store.chatSocket.send(JSON.stringify({
                            action: MAKE_CALL,
                            to: data.username,
                            offer: offer,
                            is_admin: store.is_admin,
                        }));
                    },
                    error => {
                        console.warn(error.message);
                    }
                );
            } else {
                store.code = data.code;
                store.current_user_code = data.code;
                setLanguage(store.language, true);
            }
        }
        async function makeAnswer(data) {
            if(store.me === data.to) {
                const connection = new RTCPeerConnection(WEB_RTC_CONF);
                store.users[data.username] = {
                    connection: connection
                };
                connection.onicecandidate = event => {
                    if (event.candidate) {
                        store.chatSocket.send(JSON.stringify({
                            action: CHANGE_CANDIDATE,
                            to: data.username,
                            candidate: event.candidate
                        }));
                    }
                }
                const videoElement = addUserElement(data.username, data.is_admin);
                connection.ontrack = function({ streams: [stream] }) {
                    videoElement.srcObject = stream;
                };
                await connection.setRemoteDescription(
                    new RTCSessionDescription(data.offer)
                );

                await navigator.getUserMedia(
                    USER_MEDIA_CONF,
                    async stream => {
                        stream.getTracks().forEach(track => connection.addTrack(track, stream));
                        const answer = await connection.createAnswer();
                        await connection.setLocalDescription(new RTCSessionDescription(answer));
                        store.chatSocket.send(JSON.stringify({
                            action: MAKE_ANSWER,
                            to: data.username,
                            answer: answer,
                            is_admin: store.is_admin,
                        }));
                    },
                    error => {
                        console.warn(error.message);
                    }
                );
            }
        }
        async function setAnswer(data) {
            if(store.me === data.to){
                const connection = store.users[data.username].connection;
                await connection.setRemoteDescription(
                    new RTCSessionDescription(data.answer)
                );
            }
        }
        function editCode(data) {
            if(data.current_user === store.current_user){
                const cursor = store.editor.getDoc().getCursor();
                store.current_user_code = data.code;
                store.editor.getDoc().setValue(data.code[data.language]);
                store.editor.setCursor(cursor)
                setLanguage(data.language);
            }
            if (data.current_user === store.me) {
                store.code = data.code;
                store.language = data.language
            }
        }
        function discardUser(data) {
            $('#' + store.me).click();
            store.users[data.username].connection.close();
            store.users[data.username].element.remove();
            delete store.users[data.username];
        }
        function sendCode(data) {
            if(data.current_user === store.me){
                store.chatSocket.send(JSON.stringify({
                    'action': CHANGE_CODE,
                    'code': store.code,
                    'language': store.language,
                    'current_user': store.me
                }));
            }
        }
        function processSocketMessage(recv) {
            const data = JSON.parse(recv.data);
            switch (data.action) {
                case ADD_USER:
                    callUser(data);
                    break;
                case DISCARD_USER:
                    discardUser(data);
                    break;
                case MAKE_CALL:
                    makeAnswer(data);
                    break;
                case MAKE_ANSWER:
                    setAnswer(data);
                    break;
                case CHANGE_CODE:
                    editCode(data);
                    break;
                case GET_CODE:
                    sendCode(data);
                    break;
                case CHANGE_CANDIDATE:
                    if(store.me === data.to){
                        store.users[data.username].connection.addIceCandidate(
                            new RTCIceCandidate(data.candidate)
                        ).catch(e=> console.error(e));
                    }
                    break;
                case CHAT_MESSAGE:
                    recvMessage(recv);
                    break;
            }
        }
        function setSocket(){
            store.chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + {{object.id}}
                + '/'
            );

            store.chatSocket.onmessage = processSocketMessage;

            store.chatSocket.onclose = function(e) {
                alert('오류가 발생했습니다.');
                location.href = "{% url 'meeting:list' %}";
            };
        }
        function setEditor(){
            store.editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
                mode: "python",
                theme: "darcula",
                styleActiveLine: true,
                lineNumbers: true,
                lineWrapping: true
            });
            store.editor.on('keyup', function (e) {
                const code = store.editor.getDoc().getValue();
                if(store.me === store.current_user){
                    store.code[store.current_language] = code;
                }
                store.current_user_code[store.current_language] = code;

                store.chatSocket.send(JSON.stringify({
                    'action': CHANGE_CODE,
                    'code': store.current_user_code,
                    'language': store.current_language,
                    'current_user': store.current_user
                }));
            });
        }
        $(document ).ready(function() {
            navigator.getUserMedia(
                USER_MEDIA_CONF,
                stream => {
                    addUserElement(store.me, store.is_admin, true).srcObject = stream;
                    store.localStream = stream;
                },
                error => {
                    alert("비디오, 오디오 스트림 획득에 실패했습니다.");
                }
            );
            setListeners();
            setSocket();
            setEditor();
        });
    </script>

    {% include 'chat_modal.html' %}
{% endblock %}
{% block footer %}{% endblock %}