{% extends 'base.html' %}
{% load static %}
{% block subtitle %}<h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">미팅 리스트</h3>{% endblock %}
{% block content_container %}
    {#    <li class="page-item">#}
    {#        <a href="#" class="page-link">1</a>#}
    {#    </li>#}
    {#    <li class="page-item active">#}
    {#        <a href="#" class="page-link">2</a>#}
    {#    </li>#}
    {#    <li class="page-item">#}
    {#        <a href="#" class="page-link" aria-label="Next">#}
    {#            <i class="ti-angle-right"></i>#}
    {#        </a>#}
    {#    </li>#}
    <button class="genric-btn info circle" onclick="location.href='{% url 'meeting:create' %}'">미팅 만들기</button>
    <p></p>
    <div>
        {% for meeting in object_list %}
            <div class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <article class="blog_item">
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ meeting.get_start_url }}">
                                <h2>{{ meeting.title }}</h2>
                            </a>
                            <span>{{ meeting.host }}교수님</span>
                            <p>{{ meeting.description }}</p>
                            <ul class="blog-info-link">
                                {% if meeting.host == user %}
                                    <button onclick="location.href='{{ meeting.get_update_url }}'" class="genric-btn info circle">미팅 관리</button>
                                    <button onclick="location.href='{{ meeting.get_start_url }}'" class="genric-btn info circle">미팅 시작</button>
                                {% else %}
                                    {% if meeting.is_ongoing %}
                                        <button onclick="location.href='{{ meeting.get_update_url }}'" class="genric-btn info circle">미팅 관리</button>
                                    {% else %}
                                        <a href="" class="genric-btn info circle">미팅 참가</a>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        {% empty %}
            <h1>미팅이 없습니다.</h1>
        {% endfor %}
    </div>

{% endblock %}