{#{% extends 'base.html' %}#}
{% load static %}


{#    <form action="." method="post">#}
{#        {% csrf_token %}#}
{#        <input type="hidden" name="hash" value="{{ hash }}">#}
{#        {% if form.errors %}#}
{#            <ul class='form-errors'>#}
{#                <li style="color: red; font-weight: bold;">Please enter a correct username and password</li>#}
{#            </ul>#}
{#        {% endif %}#}
{#        <p>#}
{#            <label for="id_username">Username:</label>#}
{#            <input type="text" name="username" autofocus required id="id_username" placeholder="Enter the username" style="border-radius: 10px;">#}
{#        </p>#}
{#        <p>#}
{#            <label for="id_password">Password:</label>#}
{#            <input type="password" name="password" autofocus required id ="id_username" placeholder="Enter the password" style="border-radius: 10px;">#}
{#        </p>#}
{#        <button class="genric-btn info circle" type="submit">로그인</button>#}
{#        <button type="button" class="genric-btn info circle" onclick="location.href='{% url 'user:signup' %}'">회원이 아니신가요?</button>#}
{#    </form>#}

<!--===============================================================================================-->
{#    <link rel="stylesheet" type="text/css" href="{% static 'js/vendor/bootstrap/css/bootstrap.min.css' %}">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'js/vendor/animate/animate.css' %}">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'js/vendor/css-hamburgers/hamburgers.min.css' %}">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'js/vendor/animsition/css/animsition.min.css' %}">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'js/vendor/select2/select2.min.css' %}">#}
{#    <!--===============================================================================================-->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'js/vendor/daterangepicker/daterangepicker.css' %}">#}
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form action="." method="post">
                    <span class="login100-form-title p-b-51" style="color: black">
						Login
					</span>

                {#                    <p>#}
                {#                        <label for="id_username">Username:</label>#}
                {#                        <input type="text" name="username" autofocus required id="id_username" placeholder="Enter the username" style="border-radius: 10px;">#}
                {#                    </p>#}
                {#                    <p>#}
                {#                        <label for="id_password">Password:</label>#}
                {#                        <input type="password" name="password" autofocus required id ="id_username" placeholder="Enter the password" style="border-radius: 10px;">#}
                {#                    </p>#}

                {% csrf_token %}
                <input type="hidden" name="hash" value="{{ hash }}">
                {% if form.errors %}
                    <ul class='form-errors'>
                        <li style="color: red; font-weight: bold; padding-bottom: 10px;">Please enter a correct username and password</li>
                    </ul>
                {% endif %}
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required" style="border-radius: 10px;">
                    <input class="input100" type="text" name="username" placeholder="Username">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required" style="border-radius: 10px;">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    {#						<div class="contact100-form-checkbox">#}
                    {#							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">#}
                    {#							<label class="label-checkbox100" for="ckb1">#}
                    {#								Remember me#}
                    {#							</label>#}
                    {#						</div>#}

                    <div>
                        <a href='{% url 'user:signup' %}' class="txt1">
                            Are you Newbie?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn"  style="border-radius: 10px;">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

{#    <!--===============================================================================================-->#}
{#    <script src="{% static 'js/vendor/jquery/jquery-3.2.1.min.js' %}"></script>#}
{#    <!--===============================================================================================-->#}
{#    <script src="{% static 'js/vendor/animsition/js/animsition.min.js' %}"></script>#}
{#    <!--===============================================================================================-->#}
{#    <script src="{% static 'js/vendor/bootstrap/js/popper.js' %}"></script>#}
{#    <script src="{% static 'js/vendor/bootstrap/js/bootstrap.min.js' %}"></script>#}
{#    <!--===============================================================================================-->#}
{#    <script src="{% static 'js/vendor/select2/select2.min.js' %}"></script>#}
{#    <!--===============================================================================================-->#}
{#    <script src="{% static 'js/vendor/daterangepicker/moment.min.js' %}"></script>#}
{#    <script src="{% static 'js/vendor/daterangepicker/daterangepicker.js' %}"></script>#}
{#    <!--===============================================================================================-->#}
{#    <script src="{% static 'js/vendor/countdowntime/countdowntime.js' %}"></script>#}
{#    <!--===============================================================================================-->#}
{#    <script src="{% static 'js/vendor/main.js' %}"></script>#}
