{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form action="." method="post">
                <span class="login100-form-title p-b-51" style="color: black">
                    Signup
                </span>
                {% csrf_token %}
                {% if form.errors.username %}
                    <ul class='form-errors'>
                        <li style="color: red; font-weight: bold">{{ form.errors.username }}</li>
                    </ul>
                {% endif %}
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required" style="border-radius: 10px;">
                    <input class="input100" type="text" name="username" placeholder="Username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required" style="border-radius: 10px;">
                    <input class="input100" type="password" name="password1" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                {% if form.errors.password2 %}
                    <ul class='form-errors'>
                        <li style="color:red; font-weight: bold">{{ form.errors.password2 }}</li>
                    </ul>
                {% endif %}
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Please check the password" style="border-radius: 10px;">
                    <input class="input100" type="password" name="password2" placeholder="Check Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn"  style="border-radius: 10px;">
                        회원가입 완료
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>